<div class="wrap">
  <nav class="nav-bar">
    <ul class="list">

      <ul routerLinkActive="active">
        <div>
          <a [routerLink]="['/docs']">Documents</a>
        </div>

        <li>
          <a [routerLink]="['../child-doc-about']">The Little Prince</a>

        </li>
        <li>
          <a [routerLink]="['/child-bio-author']">Antoine de Saint-Exupéry</a>
        </li>

      </ul>
      <ul routerLinkActive="active">
        <div>
          <a [routerLink]="['/imgs']">Images</a>
        </div>
        <li>
          <a [routerLink]="['/child-imgs-prince']">Illustration</a>
        </li>
        <li>
          <a [routerLink]="['/child-imgs-antoine']">Antoine de Saint-Exupéry</a>
        </li>
      </ul>
      <ul routerLinkActive="active">
        <div>
          <a [routerLink]="['/charts']">Charts</a>
        </div>
        <li>
          <a [routerLink]="['/child-bio-author']">Antoine de Saint-Exupéry</a>
        </li>
        <li>
          <a [routerLink]="['/child-bio-author']">Antoine de Saint-Exupéry</a>
        </li>
      </ul>
    </ul>
  </nav>
  <div class="view-bar">
    <router-outlet></router-outlet>
  </div>
</div>
