.wrap {
  display: flex;

  height: 100vh;
  padding: 0 1rem;
}

.nav-bar {

  min-width: 25rem;
  border-right: .5px solid #ccc;
}
.view-bar {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.list {
  font-size: 1.2rem;
}

.list li {
  padding-left: 2ы0px;
  margin-bottom: 10px;
}

.list div{
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 15px;
}

