<h3 class="doc-title">Antoine de Saint-Exupéry</h3>
<div class="text-wrap">
  <p>Antoine Marie Jean-Baptiste Roger, comte de Saint-Exupéry, (29 June 1900 – 31 July 1944),
    was a French writer, poet, aristocrat, journalist and pioneering aviator. He became a laureate of several of France's
    highest literary awards and also won the United States National Book Award.[6] He is best remembered for his novella The Little Prince
    (Le Petit Prince) and for his lyrical aviation writings, including Wind, Sand and Stars and Night Flight.</p>

  <p>Saint-Exupéry was a successful commercial pilot before World War II,
    working airmail routes in Europe, Africa, and South America.
    He joined the French Air Force at the start of the war, flying reconnaissance missions until France's armistice with Germany in 1940.
    After being demobilised from the French Air Force,
    he travelled to the United States to help persuade its government to enter the war against Nazi Germany.</p>

</div>
