<h3 class="doc-title">LE PETIT PRINCE</h3>
<div class="text-wrap">
  <p>This is the story of a grown-up meeting his inner child, embodied by a Little Prince. Traveling from
    an asteroid, he left his rose there to discover the world. Before landing on Earth he visited many
    planets and their inhabitants where all grown-ups incarnates humankind’s most common vice. When a fox
    tell him that the eyes are blind and we are responsible forever for what you tame, the Little Prince
    go back home to meet again with his Rose.</p>

  <p>Born in 1943 in New York , The Little Prince is a worldwide Publishing Phenomenon.
    The Little Prince is philosophical tale, with humanist values, shared from one generation to ano
    ther for more than 75 years. Creating bonds between generations, men and continents,
    The Little Prince is a sustainable development icon, a World Peace actor, and a childhood Rights ambassador.</p>

  <p>
    Saint-Exupéry spent 28 months in America, during which he wrote three of his most important works,
    then joined the Free French Air Force in North Africa—although he was far past the maximum age for
    such pilots and in declining health. He disappeared and is believed
    to have died while on a reconnaissance mission from Corsica over the Mediterranean on 31 July 1944.
  </p>

  <p>
    Prior to the war, Saint-Exupéry had achieved fame in France as an aviator.
    His literary works posthumously boosted his stature to national hero status in France,[7][8] including
    The Little Prince which has been translated into 300 languages.[9] He earned further widespread recognition with international
    translations of his other works. His 1939 philosophical memoir Terre des hommes (titled Wind, Sand and Stars in English) became the
    name of an international humanitarian group;
    it was also used as the central theme of Expo 67 in Montreal, Quebec.[10] His birthplace of Lyon also named its main airport after him.
  </p>

</div>


