<h3 class="doc-title">LE PETIT PRINCE</h3>
<div class="text-wrap">
  <p>This is the story of a grown-up meeting his inner child, embodied by a Little Prince. Traveling from
    an asteroid, he left his rose there to discover the world. Before landing on Earth he visited many
    planets and their inhabitants where all grown-ups incarnates humankind’s most common vice. When a fox
    tell him that the eyes are blind and we are responsible forever for what you tame, the Little Prince
    go back home to meet again with his Rose.</p>

  <p>Born in 1943 in New York , The Little Prince is a worldwide Publishing Phenomenon.
    The Little Prince is philosophical tale, with humanist values, shared from one generation to ano
    ther for more than 75 years. Creating bonds between generations, men and continents,
    The Little Prince is a sustainable development icon, a World Peace actor, and a childhood Rights ambassador.</p>
</div>

